package components

templ Layout(children ...templ.Component) {
	<!DOCTYPE html>
	<html lang="de">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>HPI Mensa</title>
			<link href="/static/css/tailwind.css" rel="stylesheet"/>
		</head>
		<body class="overflow-hidden bg-slate-50">
			for _, child := range children {
				@child
			}
		</body>
	</html>
}
